# Parser output
rython/parser/parser.out
rython/parser/parsetab.py
rython/parser/*.out
rython/parser/parsetab.*

*.pyc
*.so
*.pyd
*.whl

target
dist
build_py
__pycache__

tests

rython/test/bin
rython/test/bins
rython/test/codes
run_test.sh
test